@using ArvidsBowling.Models.Home
@model IList<CustomerInfoVM>

@{
    ViewData["Title"] = "Home Page";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
    
    .td-right{
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-12">
        <table style="border: 1px solid black;">
            <tr>
                <th>Id</th>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Konto</th>
                <th>Saldo</th>
            </tr>
            @foreach (var viewModel in Model)
            {
                <tr>
                    <td>@viewModel.Customer.Id</td>
                    <td>@viewModel.Customer.FirstName</td>
                    <td>@viewModel.Customer.LastName</td>
                    @if (viewModel.Accounts.Count() == 0)
                    {
                        <td>Inget konto</td>
                        <td></td>
                    }
                    else
                    {
                        <td class="td-right">@viewModel.Accounts[0].AccountNr</td>
                        <td class="td-right">@String.Format("{0:N}", viewModel.Accounts[0].Balance) kr</td>
                    }
                </tr>
                @for (int i = 1; i < viewModel.Accounts.Count(); i++)
                {
                    <tr>
                        <td>@viewModel.Customer.Id</td>
                        <td></td>
                        <td></td>
                        <td class="td-right">@viewModel.Accounts[i].AccountNr</td>
                        <td class="td-right">@String.Format("{0:N}", viewModel.Accounts[i].Balance) kr</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
